<div class="myBody">
  <form [formGroup]="formLogin" class="form" (ngSubmit)="logUser(this.formLogin.value)">

    <mat-form-field color="accent">
      <input matInput placeholder="Enter your login" formControlName="login">
      <mat-error *ngIf="formLogin.get('login').invalid">Login invalide</mat-error>
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput formControlName="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="formLogin.get('password').invalid">You must enter a value</mat-error>
    </mat-form-field>

    <button type="submit" mat-flat-button [disabled]="formLogin.invalid" color="accent">Login</button>

    <p>Don't have an account yet ?  <a routerLink="/register">Create an account</a></p>

    <div *ngIf="message">
      <span>{{ message }}</span>
    </div>
  </form>
</div>
