<div class="myBody">
<form [formGroup]="formSignup" class="form" (ngSubmit)="registerUser(this.formSignup.value)">
  <mat-form-field color="accent">
    <input matInput placeholder="First Name" formControlName="firstname">
    <mat-error *ngIf="formSignup.get('firstname').invalid">You must enter a value</mat-error>
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput placeholder="Last Name" formControlName="lastname">
    <mat-error *ngIf="formSignup.get('lastname').invalid">You must enter a value</mat-error>
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput placeholder="Login" formControlName="login">
    <mat-error *ngIf="formSignup.get('login').invalid">You must enter a value </mat-error>
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="formSignup.get('password').invalid">You must enter a value</mat-error>
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput placeholder="Email" formControlName="email">
    <mat-error *ngIf="formSignup.get('email').invalid">You must enter a value</mat-error>
  </mat-form-field>

  <button type="submit" mat-flat-button [disabled]="formSignup.invalid" color="accent">Sign Up</button>


  <p>Already have an account? <a routerLink="/login">Login</a></p>

  <div *ngIf="message">
    <span>{{message}}</span>
  </div>

</form>

</div>
